@import "_variables.scss";
body {
  font-family: Arial, Helvetica, sans-serif;
  main {
    margin: 0;
    padding: 0.8rem;
    background-color: rgb(46, 211, 13);
    h1 {
      margin: 10px;
      padding: $normal_padding;
    }
    article.browser {
      margin: 10px;
      padding: 0.8rem;
      background: rgba(209, 99, 9, 0.829);
      h2 {
        margin: $margin_size;
      }
      p {
        margin: $margin_size;
        color: blue;
        .year {
          font-size: 1.3rem;
          background-color: #eee;
          color: navy;
        }
        strong {
          background-color: lightyellow;
          color: black;
        }
      }
    }
  }
}
